<div class="contact-form">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <center><button class="btn btn-main">{{ button_label|default('Sauvegarder') }}</button><center>
    {{ form_end(form) }}
</div>
