{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <h1>
        <center><h1>Créer une nouvelle formation</h1></center>
    </h1>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {{ include('formation/_form.html.twig') }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <center>
        <a class="btn btn-main" href="{{ path('formation_index') }}">Retour à la liste</a>
    </center>
{% endblock %}
