{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <center>
    <h1>Création d'une entreprise</h1>
    </center>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                {{ form_start(vueFormulaireEntreprise, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_end(vueFormulaireEntreprise) }}	
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}